<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>index</title>
  </head>
  <body>
         
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    
  <div class="carousel-inner">
    <div class= "carousel-item">
      <img src="{% static '/1.jpg' %}" alt="" class="w-100" class="active">
      </div>
      <div class= "carousel-item">
      <img src="{% static '/2.jpg' %}" alt="" class="w-100">
      </div>
      <div class= "carousel-item">
        <img src="{% static '/3.jpg' %}" alt="" class="w-100">
        </div>
  </div>
</div>
</body>
</html>
 


